apiVersion: v1
kind: Service
metadata:
  name: student-service
  namespace: devops
spec:
  selector:
    app: student-management
  ports:
  - port: 8089
    targetPort: 8089
    nodePort: 30089
  type: NodePort
